<nav class="navbar navbar-expand-lg navbar-dark bg-dark white">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/Hyun_Woo_Song_Frontend_Developer_PreprLogo.png" width="50" height="30" alt="" style="margin-bottom:5px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Explore
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Challenge</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Labs</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" style="margin-right:10px;">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a class="navbar-brand" href="#">
      <img src="../assets/images/Hyun_Woo_Song_Frontend_Developer_default-user.png" width="45" height="40" alt="" style="margin-left:30px;">
    </a>
  </div>
</nav>
<div class="bg-dark">
  <div class="card text-center bg-secondary">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item bg-info">
          <a class="nav-link active" href="#">Challenges</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-light" href="#">Labs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-light" href="#">Projects</a>
        </li>
      </ul>
    </div>
    <div class="card-body bg-dark text-light">
      <h5 class="card-title">Front End Developer Work Challenge</h5>
      <br>
      <div class="container">

        <h6 class="card-text">
          <i class="fas fa-calendar-alt"></i> Apr 09th,2020 - Apr 12th,2020</h6>
      </div>
      <br>
      <h6 class="card-text">Description</h6>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni natus rem repellendus error odio dolores atque magnam
        aspernatur, corrupti neque!</p>
      <a href="#" class="btn btn-info">Read more</a>
    </div>
  </div>
</div>


<nav aria-label="..." style="margin:10px;">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">1
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>


<div class="jumbotron">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">My projects</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="#">Invited Projects</a> </li>
    </ol>
  </nav>
  <h1 class="display-4">My projects</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>No current projects available.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Create a Project</a>
  </p>
</div>

<div class="bg-light">
<section class="container-fluid">
  <div class="row align-items-center ">
    <div class="col-6">
        <div class="card text-center m-2 bg-dark text-light">
            <h5 class="card-header">
              My Labs
            </h5>
            <div class="card-body">
              <h5 class="card-title">No currently joined labs, start by joining labs near you.</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Explore</a>
            </div>
        
          </div>
          
    </div>
    <div class="col-6">
        <div class="list-group m-2">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 fontvar">Popular Lab 1</h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small>Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 fontvar">Popular Lab 2</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 fontvar">Popular Lab 3</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
            <button class="btn btn-primary">Explore</button>
          </div>
          
    </div>
  </div>
</section>
</div>